@charset "ISO-8859-1";

body{
	background-color:skyblue;
}

button, button:hover{
	background-color:yellow;
	cursor:pointer;
}

.building{
	padding:10px;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	background-color:black;
	color:white;
}

.activities{
	width:800px;
	border: 2px solid black;
	overflow-y: auto;
	max-height:300px;
}

.red{
	color:red;
}

.green{
	color:green;
}